/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/phoenix -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
  beforeScript = "module load singularity/3.7.1; unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"
  maxRetries = 3

  singularity.cacheDir = "/juno/work/ci/dev/dev_phoenix/singularity_cachedir"

 // executor = "lsf"
//  clusterOptions = "-sla CMOVOYAGER"
//  queueSize = 500
//  perJobMemLimit = true
}

params {
    config_profile_name        = 'Juno profile'
    config_profile_description = 'Minimal Juno profile'

    // Limit resources so that this can run on GitHub Actions

    // max_cpus   = 2
    // max_memory = '6.GB'
    // max_time   = '6.h'

    // SNP Pileup options
    pseudo_snps = 50
    count_orphans = true
    read_counts = '25,0'

    // Facets options
    purity_cval = 100
    cval = 50
    seed = 1000
    min_nhet = 25
    purity_min_nhet = 25

    // Ignore MultiQC
    multiqc_config = null
    multiqc_logo = null
    multiqc_methods_description = null

    //Ignore igenomes
    igenomes_ignore = true


    // Reference genome options
    // genome = null
    dbsnp = "/juno/work/ci/resources/genomes/GRCh37/dbsnp/129/dbsnp_138.b37.excluding_sites_after_129.vcf"
}
